.logo {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 13px 32px;
  position: relative;
  width: 273px;
}

.logo .div {
  font-family: "Birthstone Bounce", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -3px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.logo .dark-mode-1-true {
  color: #ffffff;
}

.logo .dark-mode-1-false {
  color: #222222;
}
